.reviewContainer{
  display: flex;
  justify-content: flex-start;
  color: white;
}
.avatar{
  border-radius: 40px;
  width: 64px;
  height: 60px;
}
.author{
  margin: 10px 0 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.writtenTitle{
  font-size: 10px;
  color: thistle;
  padding-left: 1vw;
}