.posters{
  font-size: 36px;
  border-radius: 30px;
  background-color: gold;
  padding: 4px 14px;
  cursor: pointer;
}
.container{
  display: flex;
  margin-top: 3vh;
  color: white;
  margin-bottom: 3vh;
  height: 85px;
}
.logos{
  cursor: pointer;
  font-size: 36px;
  border-radius: 30px;
  background-color: gold;
  padding: 4px 18px;
}
.hint{
  background-color: gold;
  color: black;
  padding: 3px;
}
.buttonContainer{
  display: flex;
  width: 85px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}