.movie_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  position: relative;
}
.movie {
  width: 300px;
  margin: 15px;
}
.title_color {
  width: 300px;
  color: white;
  height: 42px;
  display: flex;
  justify-content: space-between;
}
.poster {
  width: 300px;
  cursor: pointer;
  height: 450px;
}
.overview {
  position: absolute;
  left: 15px;
  bottom: 88.55px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.712);
  color: white;
  cursor: pointer;
}
.rating{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.842);
  padding: 7px;
}
.view_more{
  background-color: gold;
  border-radius: 15px;
  margin: 0 0 10px 10px;
  padding: 7px;
}
.overview_text{
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 17.8em; /* (Number of lines you want visible) * (line-height) */
  line-height: 1.2em;
  text-align:justify;
}